<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aristidevs.finalmente"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finalmente">

        <activity android:name="com.aristidevs.finalmente.menu.AtragantamientoActivity" />
        <!-- <activity android:name="com.aristidevs.finalmente.menu.QuemaduraActivity" /> -->

        <activity android:name="com.aristidevs.finalmente.menu.HemorragiaActivity" />





        <activity android:name="com.aristidevs.finalmente.menu.RcpActivity" />

        <activity
            android:name="com.aristidevs.finalmente.menu.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Puedes eliminar o comentar MainActivity si no es usada -->
        <!--
        <activity
            android:name="com.aristidevs.finalmente.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
    </application>

</manifest>
